<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">

<head>
    <title>Lisays</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/css/bootstrap-datepicker.min.css">
</head>

<body>

    <div class="container">
        <h1>Lisää uusi menoerä</h1>
        <div class="col-md-4">
            <form th:object="${menoera}" th:action="@{/lisaa}" method="post">

                <label for="aikaLeima">Päivämäärä</label>
                <input type="text" id="aikaLeima" th:field="*{aikaLeima}" class="form-control" required />

                <label for="paaluokka">Pääluokka</label>
                <select class="form-control" id="paaluokka" th:field="*{paaluokka}" name="paaluokka"
                    onchange="populateAliluokka()" required>
                    <option value="">Valitse pääluokka...</option>
                    <option th:each="paaluokka : ${paaluokat}" th:value="${paaluokka.id}" th:text="${paaluokka.nimi}">
                    </option>
                </select>

                <div class="form-group" id="aliluokkaGroup">
                    <label for="aliluokka">Aliluokka</label>
                    <select class="form-control" id="aliluokka" name="aliluokka" onchange="updateSelectedAliluokka()"
                        required>
                        <option value="">Valitse aliluokka...</option>
                    </select>
                    <input type="hidden" id="selectedAliluokka" th:field="*{aliluokka.id}" />
                </div>

                <label for="hinta">Hinta</label>
                <input type="number" id="hinta" th:field="*{hinta}" class="form-control" min="0.01" step="any"
                    required />
                <div th:if="${#fields.hasErrors('hinta')}" th:errors="*{hinta}"></div>

                <label for="maksaja">Maksaja</label>
                <select id="maksaja" name="maksaja" class="form-control"
                    th:disabled="${#authorization.expression('hasRole(''ROLE_kayttaja'')')}">
                    <option value="">Valitse maksaja...</option>
                    <option th:each="kayttaja : ${kayttajat}" th:value="${kayttaja.id}" th:text="${kayttaja.nimi}"
                        th:selected="${kayttaja.id eq loggedInUserId}">
                    </option>
                </select>
                <div th:unless="${#authorization.expression('hasRole(''ROLE_admin'')')}">
                    <input type="hidden" id="hiddenLoggedInUserId" name="maksaja" th:value="${loggedInUserId}" />
                </div>

                <button type="submit" class="btn btn-primary">Tallenna</button>
                <a th:href="@{/main}" class="btn btn-secondary">Palaa pääsivulle</a>
            </form>
        </div>
    </div>
    <!--Scriptit aliluokka dropdown menujen päivitykseen -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script>
        //Tämä päivittää Aliluokka pudotusvalikon valitun Pääluokan mukaan. Päivittyy muutettaessa pääluokkaa.
        function populateAliluokka() {
            var paaluokkaId = $("#paaluokka").val();
            var aliluokkaDropdown = $("#aliluokka");

            if (!paaluokkaId) {
                aliluokkaDropdown.empty();
                aliluokkaDropdown.append('<option value="">Valitse ensin pääluokka</option>');
                $("#aliluokkaGroup").show();
                return; // Exit the function if no Paaluokka is selected
            }

            $.ajax({
                url: "/getAliluokat/" + paaluokkaId,
                type: "GET",
                success: function (data) {
                    aliluokkaDropdown.empty();
                    aliluokkaDropdown.append('<option value="">Valitse aliluokka</option>');
                    $.each(data, function (index, aliluokka) {
                        aliluokkaDropdown.append('<option value="' + aliluokka.id + '">' + aliluokka.nimi + '</option>');
                    });
                    $("#aliluokkaGroup").show();
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    console.log(textStatus, errorThrown);
                }
            });
        }

        // Trigger populateAliluokka on page load and when Paaluokka changes
        $(document).ready(function () {
            populateAliluokka(); // Populate Aliluokka dropdown on page load
            $("#paaluokka").change(populateAliluokka); // Update Aliluokka dropdown on Paaluokka change
        });

        //Tämä päivittää piilotetun aliluokka kentän vastaamaan aliluokka pudotusvalikosta valittua arvoa.
        function updateSelectedAliluokka() {
            var aliluokkaSelectedId = $("#aliluokka").val();
            $("#selectedAliluokka").val(aliluokkaSelectedId);
            console.log("Selected Aliluokka ID:", aliluokkaSelectedId);
        }


    </script>

    <!--Päivämäärä kenttään datepicker kalenteriominaisuus-->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script
        src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/js/bootstrap-datepicker.min.js"></script>
    <script>
        $(document).ready(function () {
            $('#aikaLeima').datepicker({
                format: 'yyyy-mm-dd',
                autoclose: true,
                todayHighlight: true,
                endDate: new Date()
            });
        });
    </script>
    <!--Käyttäjätietojen loggaaminen virheenetsintää varten-->
    <script>
        // Log the value of loggedInUserName to the console
        console.log("Logged In User Name:", /*[[${loggedInUserName}]]*/);
        console.log("Logged In User Object:", /*[[${loggedInUser}]]*/)
        console.log("Logged In User Id", /*[[${loggedInUserId}]]*/)
    </script>
</body>

</html>